{
  "openapi": "3.0.3",
  "info": {
    "title": "GreyhoundIQ HTTP API",
    "description": "Source-derived contract for GreyhoundIQ Next.js route handlers. Only the local server is listed so automated security testing cannot accidentally target production. Operations marked with x-authentication-status: unknown require manual security-contract verification before release.",
    "version": "0.1.0",
    "contact": {
      "name": "GreyhoundIQ Support",
      "url": "https://greyhoundsiq.com.au/contact",
      "email": "support@greyhoundsiq.com.au"
    }
  },
  "servers": [
    {
      "url": "https://greyhoundsiq.com.au",
      "description": "GreyhoundIQ production edge",
      "x-internal": false
    }
  ],
  "tags": [
    {
      "name": "Actors",
      "description": "Actors HTTP operations."
    },
    {
      "name": "Agents",
      "description": "Agents HTTP operations."
    },
    {
      "name": "Analytics",
      "description": "Consent-gated privacy-minimised product analytics operations."
    },
    {
      "name": "Billing",
      "description": "Billing HTTP operations."
    },
    {
      "name": "Callback",
      "description": "Callback HTTP operations."
    },
    {
      "name": "Calls",
      "description": "Calls HTTP operations."
    },
    {
      "name": "Conversations",
      "description": "Conversations HTTP operations."
    },
    {
      "name": "Discover",
      "description": "Discover HTTP operations."
    },
    {
      "name": "Dogs",
      "description": "Dogs HTTP operations."
    },
    {
      "name": "Feed",
      "description": "Feed HTTP operations."
    },
    {
      "name": "Forum",
      "description": "Forum HTTP operations."
    },
    {
      "name": "Health",
      "description": "Health HTTP operations."
    },
    {
      "name": "Internal",
      "description": "Internal HTTP operations."
    },
    {
      "name": "Listings",
      "description": "Listings HTTP operations."
    },
    {
      "name": "Livekit",
      "description": "Livekit HTTP operations."
    },
    {
      "name": "Media",
      "description": "Media HTTP operations."
    },
    {
      "name": "Memory",
      "description": "Memory HTTP operations."
    },
    {
      "name": "Messages",
      "description": "Messages HTTP operations."
    },
    {
      "name": "Profiles",
      "description": "Profiles HTTP operations."
    },
    {
      "name": "Realtime",
      "description": "Realtime HTTP operations."
    },
    {
      "name": "Replay",
      "description": "Replay HTTP operations."
    },
    {
      "name": "Reports",
      "description": "Reports HTTP operations."
    },
    {
      "name": "SignIn",
      "description": "SignIn HTTP operations."
    },
    {
      "name": "Users",
      "description": "Users HTTP operations."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks HTTP operations."
    }
  ],
  "paths": {
    "/api/actors/{actorId}/mute": {
      "post": {
        "operationId": "postActorsByActorIdMute",
        "summary": "Post /api/actors/actorId/mute",
        "description": "Source-derived contract for `POST /api/actors/[actorId]/mute`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "maxLength": 1048576
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_ACTORS_PARAM_ACTORID_MUTE",
        "x-source-file": "src/app/api/actors/[actorId]/mute/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postActorsByActorIdMute"
      }
    },
    "/api/agents/{type}/run": {
      "post": {
        "operationId": "postAgentsByTypeRun",
        "summary": "Post /api/agents/type/run",
        "description": "Source-derived contract for `POST /api/agents/[type]/run`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_AGENTS_PARAM_TYPE_RUN",
        "x-source-file": "src/app/api/agents/[type]/run/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postAgentsByTypeRun"
      }
    },
    "/api/agents/context": {
      "get": {
        "operationId": "getAgentsContext",
        "summary": "Get /api/agents/context",
        "description": "Source-derived contract for `GET /api/agents/context`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_AGENTS_CONTEXT",
        "x-source-file": "src/app/api/agents/context/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      }
    },
    "/api/agents/runs": {
      "get": {
        "operationId": "getAgentsRuns",
        "summary": "Get /api/agents/runs",
        "description": "Source-derived contract for `GET /api/agents/runs`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_AGENTS_RUNS",
        "x-source-file": "src/app/api/agents/runs/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      }
    },
    "/api/agents/runs/{id}": {
      "get": {
        "operationId": "getAgentsRunsById",
        "summary": "Get /api/agents/runs/id",
        "description": "Source-derived contract for `GET /api/agents/runs/[id]`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_AGENTS_RUNS_PARAM_ID",
        "x-source-file": "src/app/api/agents/runs/[id]/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      }
    },
    "/api/agents/runs/{id}/cancel": {
      "post": {
        "operationId": "postAgentsRunsByIdCancel",
        "summary": "Post /api/agents/runs/id/cancel",
        "description": "Source-derived contract for `POST /api/agents/runs/[id]/cancel`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_AGENTS_RUNS_PARAM_ID_CANCEL",
        "x-source-file": "src/app/api/agents/runs/[id]/cancel/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postAgentsRunsByIdCancel"
      }
    },
    "/api/analytics/onboarding": {
      "post": {
        "operationId": "postAnalyticsOnboarding",
        "summary": "Record a privacy-minimised onboarding event",
        "description": "Accepts one registered onboarding lifecycle event only after the browser has opted into analytics. The source contract rejects identity, route, role, tier and free-form content, enforces same-origin delivery, and bounds the uncompressed body to 512 bytes.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "description": "Must exactly match the request URL origin.",
            "schema": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          },
          {
            "name": "Sec-Fetch-Site",
            "in": "header",
            "required": false,
            "description": "When supplied by the user agent, only same-origin is accepted.",
            "schema": {
              "type": "string",
              "enum": [
                "same-origin"
              ]
            }
          },
          {
            "name": "x-greyhoundiq-analytics-consent",
            "in": "header",
            "required": true,
            "description": "Fixed assertion emitted by the official client only while the analytics preference is accepted.",
            "schema": {
              "type": "string",
              "enum": [
                "accepted"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingAnalyticsEvent"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Event accepted; analytics delivery never controls the user experience.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Exact GreyhoundIQ production origin allowed to read the response.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "https://greyhoundsiq.com.au"
                  ]
                }
              },
              "Cache-Control": {
                "description": "Prevents storage of the response.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "private, no-store"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid length, JSON or strict event schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAnalyticsError"
                }
              }
            }
          },
          "403": {
            "description": "Origin, fetch metadata or consent assertion rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAnalyticsError"
                }
              }
            }
          },
          "413": {
            "description": "Declared or streamed request body exceeds 512 bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAnalyticsError"
                }
              }
            }
          },
          "415": {
            "description": "The media type is not application/json or the body is compressed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAnalyticsError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "503": {
            "description": "The required limiter dependency is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAnalyticsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OnboardingAnalyticsConsent": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_ANALYTICS_ONBOARDING",
        "x-source-file": "src/app/api/analytics/onboarding/route.ts",
        "x-authentication-status": "public",
        "x-registry-verification": "Partially verified",
        "x-request-schema-source": "parseOnboardingAnalyticsEvent in src/components/onboarding-analytics.ts",
        "x-output-schema-source": "empty 204 response in src/app/api/analytics/onboarding/route.ts",
        "x-maximum-request-bytes": 512,
        "x-known-gaps": [
          "A direct caller can assert the fixed consent header, but cannot add identity or free-form values to the strict event contract.",
          "Deployed gateway/WAF metrics and representative global-counter contention remain unverified."
        ],
        "x-rate-limit-policy": "RATE.ONBOARDING.ANALYTICS.INGEST"
      }
    },
    "/api/billing/bespoke/checkout": {
      "post": {
        "operationId": "postBillingBespokeCheckout",
        "summary": "Post /api/billing/bespoke/checkout",
        "description": "Source-derived contract for `POST /api/billing/bespoke/checkout`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_BILLING_BESPOKE_CHECKOUT",
        "x-source-file": "src/app/api/billing/bespoke/checkout/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postBillingBespokeCheckout"
      }
    },
    "/api/billing/checkout": {
      "post": {
        "operationId": "postBillingCheckout",
        "summary": "Post /api/billing/checkout",
        "description": "Source-derived contract for `POST /api/billing/checkout`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "The request failed source Zod validation in checkoutRequestSchema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_BILLING_CHECKOUT",
        "x-source-file": "src/app/api/billing/checkout/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "checkoutRequestSchema and readRequestInput in src/app/api/billing/checkout/route.ts",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postBillingCheckout"
      }
    },
    "/api/billing/portal": {
      "post": {
        "operationId": "postBillingPortal",
        "summary": "Post /api/billing/portal",
        "description": "Source-derived contract for `POST /api/billing/portal`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_BILLING_PORTAL",
        "x-source-file": "src/app/api/billing/portal/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postBillingPortal"
      }
    },
    "/api/calls/{roomId}/end": {
      "post": {
        "operationId": "postCallsByRoomIdEnd",
        "summary": "Post /api/calls/roomId/end",
        "description": "Source-derived contract for `POST /api/calls/[roomId]/end`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "The request failed source Zod validation in callRoomIdSchema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CALLS_PARAM_ROOMID_END",
        "x-source-file": "src/app/api/calls/[roomId]/end/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postCallsByRoomIdEnd"
      }
    },
    "/api/calls/{roomId}/invite": {
      "post": {
        "operationId": "postCallsByRoomIdInvite",
        "summary": "Post /api/calls/roomId/invite",
        "description": "Source-derived contract for `POST /api/calls/[roomId]/invite`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CALLS_PARAM_ROOMID_INVITE",
        "x-source-file": "src/app/api/calls/[roomId]/invite/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postCallsByRoomIdInvite"
      }
    },
    "/api/calls/{roomId}/token": {
      "post": {
        "operationId": "postCallsByRoomIdToken",
        "summary": "Post /api/calls/roomId/token",
        "description": "Source-derived contract for `POST /api/calls/[roomId]/token`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "The request failed source Zod validation in callRoomIdSchema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CALLS_PARAM_ROOMID_TOKEN",
        "x-source-file": "src/app/api/calls/[roomId]/token/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postCallsByRoomIdToken"
      }
    },
    "/api/calls/rooms": {
      "post": {
        "operationId": "postCallsRooms",
        "summary": "Post /api/calls/rooms",
        "description": "Source-derived contract for `POST /api/calls/rooms`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CALLS_ROOMS",
        "x-source-file": "src/app/api/calls/rooms/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postCallsRooms"
      }
    },
    "/api/conversations": {
      "get": {
        "operationId": "getConversations",
        "summary": "Get /api/conversations",
        "description": "Source-derived contract for `GET /api/conversations`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_CONVERSATIONS",
        "x-source-file": "src/app/api/conversations/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      },
      "post": {
        "operationId": "postConversations",
        "summary": "Post /api/conversations",
        "description": "Source-derived contract for `POST /api/conversations`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CONVERSATIONS",
        "x-source-file": "src/app/api/conversations/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postConversations"
      }
    },
    "/api/conversations/{id}": {
      "get": {
        "operationId": "getConversationsById",
        "summary": "Get /api/conversations/id",
        "description": "Source-derived contract for `GET /api/conversations/[id]`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_CONVERSATIONS_PARAM_ID",
        "x-source-file": "src/app/api/conversations/[id]/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      }
    },
    "/api/conversations/{id}/block": {
      "delete": {
        "operationId": "deleteConversationsByIdBlock",
        "summary": "Delete /api/conversations/id/block",
        "description": "Source-derived contract for `DELETE /api/conversations/[id]/block`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.DELETE.API_CONVERSATIONS_PARAM_ID_BLOCK",
        "x-source-file": "src/app/api/conversations/[id]/block/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "conversation path ID; no explicit identifier schema",
        "x-output-schema-source": "{ item: conversation }",
        "x-authorization-policy": "POLICY.PULSE.CONVERSATION.PARTICIPANT",
        "x-object-authorization-policy": "POLICY.PULSE.CONVERSATION.PARTICIPANT",
        "x-known-gaps": [
          "Unblock has not yet received a complete trace or negative tests."
        ],
        "x-rate-limit-policy": "RATE.API.deleteConversationsByIdBlock"
      },
      "post": {
        "operationId": "postConversationsByIdBlock",
        "summary": "Post /api/conversations/id/block",
        "description": "Source-derived contract for `POST /api/conversations/[id]/block`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CONVERSATIONS_PARAM_ID_BLOCK",
        "x-source-file": "src/app/api/conversations/[id]/block/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Partially verified",
        "x-request-schema-source": "conversation path ID; no explicit identifier schema",
        "x-output-schema-source": "{ item: conversation }",
        "x-authorization-policy": "POLICY.PULSE.CONVERSATION.PARTICIPANT",
        "x-object-authorization-policy": "POLICY.PULSE.CONVERSATION.PARTICIPANT",
        "x-known-gaps": [
          "Route-level CSRF, cross-user, rate-limit, concurrency and output-schema tests are missing."
        ],
        "x-rate-limit-policy": "RATE.PULSE.CONVERSATION.BLOCK"
      }
    },
    "/api/conversations/{id}/delivered": {
      "post": {
        "operationId": "postConversationsByIdDelivered",
        "summary": "Post /api/conversations/id/delivered",
        "description": "Source-derived contract for `POST /api/conversations/[id]/delivered`. A participant acknowledges delivery through a bounded, idempotent receipt write.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CONVERSATIONS_PARAM_ID_DELIVERED",
        "x-source-file": "src/app/api/conversations/[id]/delivered/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Partially verified",
        "x-request-schema-source": "conversation path ID; empty request body",
        "x-output-schema-source": "{ ok: true, delivered: number }",
        "x-authorization-policy": "POLICY.PULSE.CONVERSATION.PARTICIPANT",
        "x-object-authorization-policy": "POLICY.PULSE.CONVERSATION.PARTICIPANT",
        "x-known-gaps": [
          "Signed-out, cross-participant, runtime rate-limit and database rollback tests remain open."
        ],
        "x-rate-limit-policy": "RATE.API.postConversationsByIdDelivered"
      }
    },
    "/api/conversations/{id}/messages": {
      "get": {
        "operationId": "getConversationsByIdMessages",
        "summary": "Get /api/conversations/id/messages",
        "description": "Source-derived contract for `GET /api/conversations/[id]/messages`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "The request failed source Zod validation in messagesQuerySchema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_CONVERSATIONS_PARAM_ID_MESSAGES",
        "x-source-file": "src/app/api/conversations/[id]/messages/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      },
      "post": {
        "operationId": "postConversationsByIdMessages",
        "summary": "Post /api/conversations/id/messages",
        "description": "Source-derived contract for `POST /api/conversations/[id]/messages`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CONVERSATIONS_PARAM_ID_MESSAGES",
        "x-source-file": "src/app/api/conversations/[id]/messages/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postConversationsByIdMessages"
      }
    },
    "/api/conversations/{id}/messages/{msgId}": {
      "delete": {
        "operationId": "deleteConversationsByIdMessagesByMsgId",
        "summary": "Delete /api/conversations/id/messages/msgId",
        "description": "Source-derived contract for `DELETE /api/conversations/[id]/messages/[msgId]`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "msgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.DELETE.API_CONVERSATIONS_PARAM_ID_MESSAGES_PARAM_MSGID",
        "x-source-file": "src/app/api/conversations/[id]/messages/[msgId]/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.deleteConversationsByIdMessagesByMsgId"
      }
    },
    "/api/conversations/{id}/read": {
      "post": {
        "operationId": "postConversationsByIdRead",
        "summary": "Post /api/conversations/id/read",
        "description": "Source-derived contract for `POST /api/conversations/[id]/read`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_CONVERSATIONS_PARAM_ID_READ",
        "x-source-file": "src/app/api/conversations/[id]/read/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postConversationsByIdRead"
      }
    },
    "/api/conversations/{id}/search": {
      "get": {
        "operationId": "getConversationsByIdSearch",
        "summary": "Get /api/conversations/id/search",
        "description": "Source-derived contract for `GET /api/conversations/[id]/search`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.GET.API_CONVERSATIONS_PARAM_ID_SEARCH",
        "x-source-file": "src/app/api/conversations/[id]/search/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.getConversationsByIdSearch"
      }
    },
    "/api/discover": {
      "get": {
        "operationId": "getDiscover",
        "summary": "Get /api/discover",
        "description": "Source-derived contract for `GET /api/discover`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Discover"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          },
          {}
        ],
        "x-endpoint-id": "HTTP.GET.API_DISCOVER",
        "x-source-file": "src/app/api/discover/route.ts",
        "x-authentication-status": "optional",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.getDiscover"
      }
    },
    "/api/dogs/{id}/claim": {
      "post": {
        "operationId": "postDogsByIdClaim",
        "summary": "Post /api/dogs/id/claim",
        "description": "Source-derived contract for `POST /api/dogs/[id]/claim`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Dogs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_DOGS_PARAM_ID_CLAIM",
        "x-source-file": "src/app/api/dogs/[id]/claim/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postDogsByIdClaim"
      }
    },
    "/api/dogs/search": {
      "get": {
        "operationId": "getDogsSearch",
        "summary": "Get /api/dogs/search",
        "description": "Source-derived contract for `GET /api/dogs/search`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Dogs"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [],
        "x-endpoint-id": "HTTP.GET.API_DOGS_SEARCH",
        "x-source-file": "src/app/api/dogs/search/route.ts",
        "x-authentication-status": "public",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.getDogsSearch"
      }
    },
    "/api/feed": {
      "get": {
        "operationId": "getFeed",
        "summary": "Get /api/feed",
        "description": "Source-derived contract for `GET /api/feed`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          },
          {}
        ],
        "x-endpoint-id": "HTTP.GET.API_FEED",
        "x-source-file": "src/app/api/feed/route.ts",
        "x-authentication-status": "optional",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      },
      "post": {
        "operationId": "postFeed",
        "summary": "Post /api/feed",
        "description": "Source-derived contract for `POST /api/feed`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.POST.API_FEED",
        "x-source-file": "src/app/api/feed/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.postFeed"
      }
    },
    "/api/feed/{postId}": {
      "delete": {
        "operationId": "deleteFeedByPostId",
        "summary": "Delete /api/feed/postId",
        "description": "Source-derived contract for `DELETE /api/feed/[postId]`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.DELETE.API_FEED_PARAM_POSTID",
        "x-source-file": "src/app/api/feed/[postId]/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.deleteFeedByPostId"
      },
      "get": {
        "operationId": "getFeedByPostId",
        "summary": "Get /api/feed/postId",
        "description": "Source-derived contract for `GET /api/feed/[postId]`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          },
          {}
        ],
        "x-endpoint-id": "HTTP.GET.API_FEED_PARAM_POSTID",
        "x-source-file": "src/app/api/feed/[postId]/route.ts",
        "x-authentication-status": "optional",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      },
      "patch": {
        "operationId": "patchFeedByPostId",
        "summary": "Patch /api/feed/postId",
        "description": "Source-derived contract for `PATCH /api/feed/[postId]`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnspecifiedJsonObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          }
        ],
        "x-endpoint-id": "HTTP.PATCH.API_FEED_PARAM_POSTID",
        "x-source-file": "src/app/api/feed/[postId]/route.ts",
        "x-authentication-status": "required",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ],
        "x-rate-limit-policy": "RATE.API.patchFeedByPostId"
      }
    },
    "/api/feed/{postId}/comments": {
      "get": {
        "operationId": "getFeedByPostIdComments",
        "summary": "Get /api/feed/postId/comments",
        "description": "Source-derived contract for `GET /api/feed/[postId]/comments`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnspecifiedJsonObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "WorkOSSession": []
          },
          {}
        ],
        "x-endpoint-id": "HTTP.GET.API_FEED_PARAM_POSTID_COMMENTS",
        "x-source-file": "src/app/api/feed/[postId]/comments/route.ts",
        "x-authentication-status": "optional",
        "x-registry-verification": "Not verified",
        "x-request-schema-source": "not verified",
        "x-output-schema-source": "not verified",
        "x-known-gaps": [
          "Discovered from source; security metadata and implementation trace have not been verified."
        ]
      },
      "post": {
        "operationId": "postFeedByPostIdComments",
        "summary": "Post /api/feed/postId/comments",
        "description": "Source-derived contract for `POST /api/feed/[postId]/comments`. Unspecified object shapes remain intentionally open until their source schemas are registered.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "postId",
[...]
